@charset "UTF-8";
  .tab_title {
    display: flex;
    justify-content: center;
  }
  
  .tab_title li {
    list-style: none;
    width: 15%;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #bebebe;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  .tab_title li.on {
    background-color: #ffb715;
    font-weight: bold;
  }
  
  .tab_cont {
    clear: both;
    /* border: 1px solid #dedede; */
    border-radius: 15px;
    height: 100%;
    width: 100%;
    background-color: #fff;
  }
  
  .tab_cont div {
    display: none;
    text-align: left;
  }
  
  .tab_cont div.on {
    display: block;
  }

  .row {
    display: flex;
    justify-content: center;
  }

  .tag {
    color: rgb(213, 162, 95);
  }
  
  
  .home img {
  	width: 75px;
  	height: 75px;
  }
  
  .homesizeup img {
  	width: 500px;
  	height: 500px;
  }
  
  
  
  
  /**character add**/
  
  h1{
  	margin-top: 100px;
  }
  
  .game-link{
  	display: inline-block;
  	height: 100px;
  	margin-top: 50px;
  }
  
  .game-link a{
  	font-weight: bold;
  	font-size: 18px;
  	color: #000;
  	text-decoration: none;
  }
  
  .char-img img{
  	margin-right: 50px;
  }
  
  .row2{
  	margin-top: 100px;
  }
  
  #house{
  	margin-right: 50px;
  }
  
  .house h1{
  	margin-top: 50px;
  }
  
  .char-font{
  	 font-family: 'NeoDunggeunmoPro-Regular';
  }