@charset "UTF-8";

ul {
    list-style: none;
}

a, a:hover {
    text-decoration: none;
    color: #000;
}

.first h1,
.second h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 0;
    padding-top: 20px;
}

.first h1::after,
.second h1::after {
    content: "";
    width: 50px;
    height: 1px;
    background: #333;
    margin: 20px auto;
    display: block;
}

.imgbox {
    text-align: center;
}

.imgbox img {
    border-radius: 15px;
}

#pic{
	width: 362px;
	height: 482px;
	object-fit: cover;
}

.content .row {
    align-items: center;
}

.quick a {
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.quick a:hover {
    color: #999;
    font-size: 30px;
}

.top-content {
    line-height: 25px;
    border-bottom: 1px solid #999;
}

.top-content span {
    color: rgb(218, 22, 22);
    font-weight: bold;
}

.content ul {
    margin: 0;
    padding: 0;
}

.content ul li {
    padding-left: 15px;
}

.content ul li span {
    padding-right: 20px;
    padding-left: 10px;
    font-weight: bold;
}

.first {
    background: #ededed;
}
.second,.first{
	padding-top: 50px;
	padding-bottom: 30px;
}
#devel-last{
	padding-bottom: 110px;
}


@media (max-width : 768px) {
    .content {
       padding-left: 40px;
       padding-right: 40px; 
    }
}
