@charset "UTF-8";

@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

header{
	font-family: 'SEBANG_Gothic_Bold';
	
}

body {
	font-family: 'SUIT-Regular';
    margin: 0;
    font-size: 16px;
    color: #000;
    position: relative;
}

.container-k {
    width: 1440px;
    margin: 0 auto;
}

header {
    height: 100px;
    background: linear-gradient(to right,#0d110e,#1e2922,#435b4d,#533834,#5e2c23);
    
}

.row-k {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 110px;
    height: 110px;
}
.member{
	width: 320px;
	margin-left: -250px;
}
.member a{
	text-decoration: none;
	color: #fff;
	font-weight: 700;
}

.member a:first-child {
	margin-left: 170px;
	margin-right: 20px;
}

ul.gnb-k {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

ul.gnb-k li {
    padding-left: 40px;
    padding-right: 40px;
}

ul.gnb-k li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

ul.gnb-k li a:hover {
    color: #ddd;
}
/*********login*********/

.log{
    font-size: 16px;
    font-weight: 700;
}

.log:hover {
	color: gray;
}


.info:hover {
	color: gray;
}

.log-bg{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 200;
}
.log-form{
    position: relative;
    width: 500px;
    height: 500px;
    align-items: center;
    margin-left: calc(50% - 200px);
    margin-top: 100px;
    text-align: center;
}
.log-title img{
	margin-top: 20px;
	margin-right: 50px;
	width: 200px;
	height: 50px;
}
.log-title-a{
	width: 450px;
	font-size: 25px;
    color: #fff;
    margin: 0;
    margin-bottom: 20px;
}
.log-main{
	width: 450px;
	height: 370px;
    background: #fff;
    border-radius: 30px;
}
.log-main button{
    font-size: 25px;
    background: none;
    border: none;
    color: #aaa;
    margin-left: 400px;
    margin-top: 10px;
    cursor: pointer;
}
.log-main h1{
    font-weight: lighter;
    padding-bottom: 20px;
    margin: 0px;
}
.member .log-register a {
    color: #000;
    margin: 0;
    margin-left: 260px;
}
.userid input,
.pw input{
    width: 350px;
    height: 35px;
    border: 1px solid #ccc;
    font-size: 18px;
    padding-left: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.submit input{
    width: 350px;
    height: 40px;
    background-color: #141b16;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.submit input:hover{
	background-color:rgb(235, 85, 55);
	border: none;
}
.joinBtn {
    width: 350px;
    height: 40px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 0 auto;
}
.member .joinBtn a {
    margin: 0;
    color: #000;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 900;
    line-height: 40px;
}
.log-infoster{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.member .log-infoster a{
    font-size: 14px;
    color: #777;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.log-explain{
	margin: 0px;
    font-size: 18px;
    color: #aaa;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}
.member .log-sns a {
	margin: 0px;
}
.google img,
.facebook img,
.twitter img{

    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 20px;
}

.welcome {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	position: absolute;
	right: 150px;
	top: 27px;
}


.logout button {
	border: none;
	background: none;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

.logout button:hover {
	color: gray;
}
.log-sns img {
	width: 78%;
	height: inherit;
}
