@charset "UTF-8";
        .container{
            width: 500px;
            margin: 30px auto;
            border-radius: 15px;
            background: #555;
        }
        h1{
        	color: #fff;
            text-align: center;
            padding-top: 10px;
        }
        h2{
            text-align: center;
        }
        label{
        	color: #fff;
        	font-weight: bold;
            display: block;
        }
        .block{
            margin-left: 30px;
            margin-right: 30px;
            font-size: 20px;
            margin-bottom: 15px;
        }
        input{
            width: 100%;
            height: 30px;
            font-size: 20px;
            border: none;
        }
        .block button{
        	padding-top: 10px;
        	padding-bottom: 6px;
        	border: none;
        	background: #59a75c;
        	margin-left: 8px;
        }
        #userid{
        	width: 80%
        }
        .ok{
            text-align: center;
        }
        .ok button{
            margin: 5px;
            padding: 5px 10px;
            background: #59a75c;
            border: none;
        }
        #postcode{
            width: 80%;
        }
        .find{
            padding: 2px 20px;
        }